$theme-colors : (
    "primary":#8781FE,
"gray-100": #f8f9fa ,
"gray-200": #e9ecef ,
"gray-300": #dee2e6 ,
"gray-400": #ced4da ,
"gray-500": #adb5bd ,
"gray-600": #6c757d ,
"gray-700": #495057 ,
"gray-800": #343a40 ,
"gray-900": #212529 ,
"black":    #000 ,
);

@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Philosopher&family=Poppins&display=swap');

@import "node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.navLine{
  height:0.3rem;
  background:#8781FE;
  position:absolute;
  bottom:-5px;
  left:-25%;
  width:50px;
  border-radius: 10px;
  opacity:0;
  transition:all 0.3s ease;
}
.navLine.visible{
  left:0;
  opacity:1;

}

h1{
    font-family: "Philosopher",sans-serif;
}
h2{
    font-family:"Philosopher", sans-serif;
}
h3{
    font-family:"Mulish", sans-serif;
}
h4{
    font-family:"Mulish", sans-serif;
}
p{
    font-family:"Mulish", sans-serif;
}
a{
  color:inherit;
  text-decoration:none
}
a:hover{
  color:inherit;
  text-decoration:none

}
.horizontalLine{
  background:black;
  width:2px;
  height:100px;
}




.form-group{
  width:100%;
  margin-bottom:1rem;
}
label{
  font-family:"Mulish",sans-serif;
  width:100%;
  font-size:16px;
}
input,textarea{
  width:100%;
  font-size:16px;
  padding:1.2rem;
  outline:none;
  border:none;
  border-radius: 8px;
  background:#e8e7fd;
}
textarea{
  min-height: 150px;
  resize:vertical;
}
.button[type="submit"]{
background:#e8e7fd;
color:black;
font-size:22px;
display:inline-block;
outline:none;
border:none;
padding:1rem 4rem;
border-radius: 5px;
cursor:pointer;
}
#about{
    white-space: nowrap;
}
// .btn{
//     padding: 1rem 2rem;
//     display:flex;
//     justify-content: center;
//     align-items: center;
// }
.btn-outline-primary:hover{
    color:white;
}
p{
    max-width:55ch;
    padding:0;
}
ul{
    padding: left 0px;
}
li{
    margin-bottom:16px;
    font-family:"Mulish", sans-serif
} 


.lineDiv{
    background:#8781FE;
    height:2px;
    width:100%;
    margin-left:3ch;
    margin-right:3ch;
    max-width:500px;

}
#arrow{
    margin-right:1em;
}
.headshot{
    min-width:250px;
    min-height:352.6px;
    max-height:450px;
    max-width:300px;
    width:100%;
    height:auto;
    object-fit: cover;
    position: relative;
}
.headshot:hover{
    transform: translate(10px,10px);
}
.headshot-mask{
    position:relative;
    height:auto;
}

.headshot-mask:before{
    content:"";
    position:absolute;
    top:15px;
    left:15px;
    background:transparent;
    width:100%;
    height:100%;
    border:2px solid #8781FE;
}
.headshot-mask:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:#8781FE;
    top:0;
    left:0;
    opacity:0.333;
    transition:all 0.3s ease;
}

.headshot-mask:hover:after{
    opacity:0;
}

.cardContainer{
    position:relative;
}
.card{
    border:none;
    padding:1em;
    outline:none;
    
}

form{
  padding:1em;
  border-radius: 10px;
  border-width: 2px;
  border-color: #8781FE;
}




.responsive{
    max-width:100%;
    height:auto;
}
.item{
  background:#e8e7fd;
  border-radius: 5px;
  padding:1em;
  font-family: "Mulish";
  color:black;
}
.itemText{
  font-family:"Mulish",sans-serif;
  font-size: 16px;
  word-break:break-all;
}
.highlight-purple{
    color:var(--primary-purple)
  }

  .faded-purple{
    color:var(--faded-purple);
  }

  h1{
    font-size:var(--h1-mobile-s);
    font-family: 'Philosopher', sans-serif;
  }
  h2{
    font-size:var(--h2-mobile-s);
    font-family: 'Philosopher', sans-serif;
  }
  p{
    font-size:var(--p-mobile-s);
    font-family: 'Mulish', sans-serif;
  }
  h3{
    font-size:var(--h3-mobile-s);
    font-family: 'Mulish', sans-serif;
  }
  h4{
    opacity:0.6;
    font-family: 'Mulish', sans-serif;
    
  }


  @media (min-width:350px){
    h1{
      font-size:var(--h1-mobile-md)
    }
    p{
    font-size:var(--p-mobile-md)
  }
  h3{
    font-size:var(--h3-mobile-md)
  }
  h2{
    font-size:var(--h2-mobile-md)
  }
  
  }
  @media (min-width:375px){
    h1{
      font-size:var(--h1-mobile-l)
    }
    p{
    font-size:var(--p-mobile-l)
  }
  h3{
    font-size:var(--h3-mobile-l)
  }
  h2{
    font-size:var(--h2-mobile-l)
  }
  }
  @media (min-width:768px){
    h1{
      font-size:var(--h1-desktop-s)
    }
    p{
    font-size:var(--p-desktop-s)
  }
  h3{
    font-size:var(--h3-desktop-s)
  }
  h2{
    font-size:var(--h2-desktop-s)
  }
  }
  @media (min-width:1024px){
    h1{
      font-size:var(--h1-desktop-md)
    }
    p{
    font-size:var(--p-desktop-md)
  }
  h3{
    font-size:var(--h3-desktop-md)
  }
  h2{
    font-size:var(--h2-desktop-md)
  }
  .linesContainer h3{
    white-space:nowrap;
  }
  }
  @media (min-width:1440px){
    h1{
      font-size:var(--h1-desktop-l)
    }
    p{
    font-size:var(--p-desktop-l)
  }
  h3{
    font-size:var(--h3-desktop-l)
  }
  h2{
    font-size:var(--h2-desktop-l)
  }
  }
